* {
	margin: 0em;
	padding: 0em;
	font-size: 20px;
	border-style: none;
	list-style-type: none;
	color: #273149;
}
.App {
	background-color: #f6f7fb;
	min-height: 100vh;		/*min of screen for any devices*/
	position: relative;
	padding-bottom: 100px;	/*height of footer*/
	box-sizing: border-box;		/*min = includes footer*/
}
.wrapper{
	background: linear-gradient( #EAC85E,  #f6f7fb);		
}
.wrapper header{
	display: flex;
	justify-content: space-between;
}
.wrapper nav li {
	display: inline-block;
	margin-right: 10px;
	margin-top: 50px;
	text-align: end;
}
.wrapper nav a{
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.wrapper nav a:hover, #current{
  border-bottom: 1px solid white;
}
.mainpic{
	margin: 0 auto;
	width: 1000px;
}
.mainpic img{
	display: flex;
	justify-content: center;
	align-items: center;
}
#box, #box h1{
	height: 300px;
	width: 100%;
	position: relative;
	top: 0;
	padding-top: 30px;
	text-align: center;
	align-items: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 3rem;
	color: white;
	transition: all 2s ease;
}
main{
  position: relative;
  font-family: 'Kaushan Script', cursive;
}
.mainpic h2{
	font-size: 2.5em;
	color: #273149; 
	border-bottom: 1px solid rgb(243, 205, 35) ;
	cursor: pointer;
}
.mainpic h2:hover{
	opacity: 0.5;
}
.mainpic p{
  margin-top: 50px;
}
.mainpic #arrow{
  display: block;
  float: right;
}
.section{
  font-family: 'Kaushan Script', cursive;
	margin-top: 100px;
	display: flex;
	background:rgb(231, 146, 77);
	align-items: center;
	justify-content: center;
}
.section h2{
	font-size : 2rem;
  position: relative;
  color: #f6f7fb;
}
.section button{
	margin-top: 40px;
	margin-right: 40px;
	padding: 20px;
	background-color: #273149;
	color: #f6f7fb;
	width: 300px;
	border-radius: 10px;
	cursor: pointer;
  opacity: 0.9;
  font-family: 'Kaushan Script', cursive;
}
.section button:hover{
  background-color: #EAC85E;
  opacity: 0.8;
}
footer {
	position: absolute; 
	bottom: 0;
	width: 100%;
	height: 100px;
}
footer ul {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}
footer a, footer li{
	text-decoration: none;
	color: #273149;
	margin-right: 10px;
	
}

.elseHeader{
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	background: #EAC85E;
}
.elseHeader nav li {
	display: inline-block;
	margin-right: 10px;
	margin-top: 50px;
	text-align: end;
}
.elseHeader nav a{
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.elseHeader nav a:hover, #current{
	border-bottom: 1px solid white;
}

/* Properties */
.flex{
  display: flex;
	justify-content: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.titleOfPage h1{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
  background-color: #f6f7fb;
	font-family: 'Kaushan Script', cursive;
	font-size : 2rem;
}
.grid-container-pro, #addPropertySpace{
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-gap: 20px;
	padding: 10px;
	margin: 0 auto;
}
.grid-container-pro div, #addPropertySpace div{
	background: white;
	text-align: left;
	padding: 5px;
	border-radius: 10px;
	margin-top: 30px;
}
.grid-container-pro h4, #addPropertySpace h4{
	padding-top: 20px;
}
.obi{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background:  rgb(52, 56, 82);
	color: white;
}
.obi img{
	margin: 5px;
	padding-left: 10px;
}
.icons img, .inspe img{
	padding: 5px;
}
.inspe{
	display: flex;
	float: left;
	align-items: center;
}
.border{
	border: 2px solid  rgb(52, 56, 82);
	margin: 20px auto;
}
.addProperty{
	padding: 30px;
	margin: 10px auto;
	width: 500px;
	text-align: right;
	border-radius: 8px;
}
.addProperty button{
	margin-top: 20px;
	border-radius: 10px;
	padding: 5px;
	background: #273149; 
	color: white;
	width: 50%;
	cursor: pointer;
}
.marginTop{
	margin-top: 20px;
}
.right{
	float: right;
}

/* Agents page */
.grid-container, 
#agentMember{
	display: grid;
  grid-template-columns: auto auto auto;
  width: 1000px;
  grid-gap: 20px;
  background-color: #f6f7fb;
	padding: 10px;
	margin: 0 auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.grid-container > div,
#agentMember > div{
  background-color: #f6f7fb;
  text-align: center;
  padding: 20px 0;
	font-size: 30px;
	border-radius: 10px;
}
.grid-container img,
#agentMember img{
	border-radius: 10px;
}
.grid-container h1,
#agentMember h1{
	padding-top: 40px;
}
.grid-container h4,
#agentMember h4{
	font-size: 20px;
}
.grid-container p
#agentMember p{
	padding: 5px;
	font-size: small;
}
#agentBtn{
	padding: 10px;
	border-radius: 5px;
	background-color: #273149;
	color: white;
	cursor: pointer;
	display: block;
	margin: 20px auto;
}
#agentBtn:hover{
	opacity: 0.7;
}


/* FAQ */
.accbox{
	max-width: 800px;
	margin: 100px auto 0px auto;
	z-index: 2;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.accbox label{
	display: block;
	padding: 10px 10px 0 10px;
	color: #273149;
	font-size: 18px;
	transition: all 0.5s;
	display: flex;
	justify-content: space-between;
}
hr {
  border: dashed 1px gray;             
  height: 1px;
}
.accbox label::after{
	content: '\f107';  
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 40px;
	color: red;
}
.accbox label:hover{
	opacity: 0.5;
	cursor: pointer;
}
.accbox input{
	display: none;
}
.accbox .insidebox{
	height: 0;
	padding: 0;
	overflow: hidden;
	transition: 0.5s;
}
.inputclass:checked + label + .insidebox{
	height: auto;
	padding: 5px;
	font-size: 20px;
	opacity: 1;
	color: #111111;
	background: #ffffff;
}
.accbox .insidebox p{
	margin: 15px 10px;
}
.inputclass:checked + label::after{
	content: '\f106';  
} 

/* Contact */
.contact-main{
  display: flex;
	justify-content: space-evenly;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
section ul {
	margin-top: 20px;
	line-height: 1.5em;
}
figure {
	width: 990px;
	margin: auto;
	margin-top: 40px;
}
#col1 img, iframe {
	margin-top: 40px;
}
form:not(.addProperty form) {
	margin-top: 30px;
	background-color: white;
	padding: 10px 30px 30px 30px;
	letter-spacing: 2px;
	border-radius: 5px;
}
fieldset {
	margin-top: 10px;
	font-weight: bold;
}
input {
	border: 1px solid #273149;
	padding: 5px;
	border-radius: 4px;
}
form p {
	margin-top: 4px;
	font-size: 12px;
}
#name, #mobile, #email {
	width:400px;
}
textarea {
	font-family: helvetica, calibri, sans-serif;
	margin-top: 10px;
	max-width:340px;
	min-width:340px;
	border: 1px solid #273149;
}
.submitBtn{
	display: block;
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
}
.submitBtn:hover{
	opacity: 0.8;
}
.forms{
	padding-top: 15px;
}
.left{
	margin-left: 10px;
	margin-right: 15px;
}

/* Login page */
#loginMain{
	background-image: url('/static/home-entrance.jpg');
  background-size: cover;
	height: 870px;
}
#loginMain h1{
	text-align: center;
	color: white;
	margin-bottom: 50px;
	padding-top: 50px;;
	font-family: 'Kaushan Script', cursive;
	font-size : 2rem;
}
.display{
	display: flex;
	justify-content: space-around;
}
.login form{
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top: 60px;
	padding: 20px;
}
.login .loginForm{
	padding-top: 20px;	
}
.loginForm label{
	margin-top: 10px;
}
.login button, #logout button{
	margin-top: 20px;
	border-radius: 10px;
	padding: 5px;
	background: #273149; 
	color: white;
	width: 100%;
	cursor: pointer;
}
.login form{
	background: rgba(245, 241, 241, 0.8);
}
#success{
	text-align: center;
	background-image: url("/static/sydney.jpg");
	background-size: cover;
	height: 870px;
}
#success > h4 {
	padding-top: 50px;
	color: white;
}


/* Image gallery pages */
.gallery-main{
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 50px 150px;
}
.container {
  position: relative;
}
.subnav a, .subnav p{
  text-decoration: none;
  color: rgba(52, 56, 82,0.8);
  display: inline-block;
  padding-left: 20px;
}
.subnav{
	margin: 40px 150px;
}
.subnav a:hover{
	border-bottom: 1px solid blue;
}
.cursor, #btns {
	cursor: pointer;
}
#btns{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.mainTop{
  margin: 0 100px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -50px;
  user-select: none;
  opacity: 0.7;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  opacity: 1;
}
.caption-container {
  text-align: center;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}
.active,
.demo:hover {
  opacity: 0.6;
}

/* Flex section */
#flex{
  display: flex;
  flex-direction: row;
  margin: auto 5rem;
}
#column1{
  width: 70%;
  word-spacing: 5px;
  margin-right: 5rem;
}
#column2 ul{
  display: block;
  flex: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(52, 56, 82,0.8);
  border-radius: 5px;
  height: 35%;
  color: rgba(52, 56, 82,0.8);
  padding-inline-start: 0px;
  margin: 0 30px;
  padding: 10px;
}
button{
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 5px;
  padding-bottom: 3px;
  background-color: rgba(223, 223, 35,0.8);
  cursor: pointer;
  border-radius: 5px;
}
.icons img{
	margin: 10px;
}
.icons{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.gmap:not("p"){
  position : relative;
  overflow : hidden;
}
